body {
  background-color: #121213; 
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.tile {
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid #3a3a3c;
  margin: 0 3px;
  text-align: center;
  line-height: 60px; 
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}